@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #f8ecf8;
  --color-foreground: #09090b;
  --color-secondary: #ecdfec;
  --color-secondary-foreground: #09090b;
  --color-muted: #ecdfec;
  --color-muted-foreground: #a1a1aa;
  --color-border: #dedae7;
  --color-card: #ffffff;
  --color-button: #b6a3db;
  --color-ring: #b6a3db;
  --color-accent: #8fd6fa;
  --color-accent-foreground: #02324b;
  --color-destructive: #ef4444;
  --color-input: #e9e7ef;
}

html {
  font-family: Inter, sans-serif;
}